// Font-Awesome icon variables needed by Docsy
// These are defined here since we're using Font-Awesome CDN instead of SCSS

$fa-var-bars: \f0c9;
$fa-var-caret-up: \f0d8;
$fa-var-check: \f00c;
$fa-var-chevron-left: \f053;
$fa-var-chevron-right: \f054;
$fa-var-chevron-up: \f077;
$fa-var-globe: \f0ac;
$fa-var-search: \f002;
$fa-var-times: \f00d;
$fa-var-xmark: \f00d;

