{{ if isset .Site.Params "algolia_docsearch" }}
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">

docsearch({
        container: '#docsearch',
        apiKey: '8f474f35447885b00436d11c36ac8acd',
        appId: 'TJZOXFPOHF',
        indexName: 'ansiblemiddleware',
});

for (const e of document.querySelectorAll(".docsearch-placeholder")) {
        docsearch({
                container: e,
                apiKey: '8f474f35447885b00436d11c36ac8acd',
                appId: 'TJZOXFPOHF',
                indexName: 'ansiblemiddleware',
        });
}

</script>
{{ end }}
